<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js" integrity="sha256-fYYt9VmuVbEV36uYrcq2OswibsiRsM+kBL8tJsMpVwk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />


<style>
body {
  margin: 0px;
  background-color: #000000 !important;
  background-size: contain !important;
}
#devices {
  margin-left: auto;
  margin-right: auto;
  background-color: #191919;
  width: 154px;
  border-color: #464646;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 3px;
  text-align: left;
  font-family: Tahoma, Geneva, sans-serif;
  color:white;
  z-index: 2;
  font-size: 10px;
}

#devices button {
  border-radius: 7px;
  color: #093200;
  border-color: #093200;
  border-width: 2px;
  border-style: solid;
}

#radio {
    background-color: #191919;
    width: 154px;
    border-color: #464646;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 3px;
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
}
#play_stop {
  position: relative;
  min-height: 36px;
}
#play_stop i {
    border-radius: 7px;
    padding: 5px;
    background-color: #fff;
    color: #093200;
    border-color: #093200;
    border-width: 2px;
    border-style: solid;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin: 2px;
}

.master_button {
  position: absolute;
  transition: all 1s linear;
  bottom: -9;
  left: 20;
  width: 18px;
  height: 18px;
  font-size: auto;
}

.master_button_ready {
  width: 11px !important;
  height: 11px !important;
  font-size: 11px !important;
}

.master_button_active {
  /* width: 11px !important; */
  /* height: 11px !important; */
  /* font-size: 11px !important; */
  color: red !important;
  animation: opacity-soft 4s infinite;
  left: 0px;
  bottom: 0px;
}

#radio_meta {
    clear: both;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 113px;
    font-size: 11px;
    position: relative;
    top: 5px;
    height: 13px;
}

#radio_meta div {
    width: auto;
    position: absolute;
}

#right {
  position: absolute;
  top: 0;
  right: 0;
  color:white;
}

#right a:link, #right a:visited, #right a:hover, #right a:active{
  color: white;
  cursor:pointer;
  text-decoration: none;
}

#radio_meta div {
  width:100%;
}

#radio_meta_artist {
  opacity: 0;
  animation: opacity-true 10s infinite;
}

#radio_meta_song {
  animation: opacity-reverse 10s infinite;
}

#soft-bg {
  background-color: rgba(15, 15, 15, 0.5);
}

#bg {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  z-index: -1;
  top: 50px;
  left:0;
}

#bg img {
  /*
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    */
}

.img-overlay {
    /*position: absolute;
    top:0;
    left:0;
    right:0;*/
    height: 100%;
    object-fit: cover;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.5);
    min-height: 50px;
    padding:5px;
}

@media (min-width: 400px) {
  #radio {
    width: 360px;
  }

  #radio_meta {
    width: 300px;
  }

}

@keyframes opacity-true {
  /* You could think of as "step 1" */
  0% {
    opacity: 0
  }
  /* You could think of as "step 2" */
  48% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  98% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes opacity-reverse {
  /* You could think of as "step 1" */
  0% {
    opacity: 1
  }
  /* You could think of as "step 2" */
  48% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  98% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes opacity-soft{
  /* You could think of as "step 1" */
  0% {
    opacity: 1
  }
  /* You could think of as "step 2" */
  30% {
    opacity: 1
  }
  50% {
    opacity: 0.2
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}
</style>
<meta name="viewport" content="maximum-scale=1, initial-scale=1">
<div id="app">
  <div id="soft-bg">
    <div id="radio">
      <div id="play_stop">
        <template v-if="user_profile && !user_profile.is_master">
          <i v-if="!status.enabled" v-on:click="enable()" class="fas fa-play"></i>
          <i v-if="status.enabled" v-on:click="disable()" class="fas fa-stop"></i>
        </template>
        <i 
          id="master_button"
          class="fas fa-satellite-dish master_button"
          :key="user_profile.is_master"
          v-bind:class="{ master_button_active: checkIfMaster(), master_button_ready: !checkIfMaster() }"
          v-if="user_profile ? user_profile.can_be_master : false" 
          v-on:click="toggleMaster()"
        ></i>
      </div>
      <div id="right">
          <div v-if="status.now_playing != undefined && status.now_playing != ''" id="radio_meta">
              <div id="radio_meta_artist"><a target="_blank" :href="status.now_playing.artists[0].external_urls.spotify"> {{status.now_playing.artists[0].name}}</a></div>
              <div id="radio_meta_song"><a target="_blank" :href="status.now_playing.external_urls.spotify">{{status.now_playing.name}}</a></div>
          </div>
      </div>
    </div>
    <div id="devices">Devices<br>
      <div v-if="devices === null">No devices found.</div>
      <div v-for="device in devices" :key="device.is_active">
        <span v-if="device.selected_device">[S]</span> <span v-if="device.is_active">[A] </span>{{ device.name }}<button v-if="!device.selected_device" v-on:click="selectDevice(device.id)">Select</button>
      </div>
    </div>
  </div>
  <div v-if="status.now_playing != undefined && status.now_playing != ''" id="bg">
    <img class="img-overlay" :src="status.now_playing.album.images[0].url" />
  </div>
</div>


<script>
player = new Vue({
  el: '#app',
  data () {
    return {
      devices: null,
      user_profile: null,
      status: {
        enabled: false
      }
    }
  },
  mounted () {
    this.getDevices()
    this.getUserProfile()
    this.getStatus()
  },
  methods: {
      getDevices() {
        axios
          .get('/devices')
          .then(response => {
            this.devices = response.data.devices;
            console.log(response.data)
          })
      },
      selectDevice(device_id) {
        data = {
            device_id: device_id
        }
        config = {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        }
        axios
            .post('/devices', data)
            .then(response => (
              setTimeout(() => {
                this.getDevices()
              }, 1000)
            ))
      },
      getUserProfile() {
        axios
          .get('/profile')
          .then(response => {
            this.user_profile = response.data;
          })
      },
      toggleMaster() {
        if (this.user_profile && this.user_profile.is_master) {
          this.resign()
        } else {
          this.beMaster()
        }
      },
      beMaster() {
        this.user_profile.is_master = true
        axios.get('/master')
        .then(response => {
          if(response.status == 200) {
            this.user_profile.is_master = true
          }
        })
        .catch(response => {
          this.user_profile.is_master = false
        })
      },
      resign() {
        this.user_profile.is_master = false
        axios.get('/resign')
          .then(response => {
            if(response.status == 200) {
              this.user_profile.is_master = false
            }
          })
          .catch(response => {
            this.user_profile.is_master = true
          })
      },
      enable() {
        axios.get('/enable')
        .then(response => {
          if(response.status == 200) {
            this.status.enabled = true
          }
        })
      },
      disable() {
        axios.get('/disable')
        .then(response => {
          console.log(response)
          if(response.status == 200) {
            this.status.enabled = false
          }
        })
      },
      getStatus() {
        axios
          .get('/status')
          .then(response=> {
            this.status = response.data
            setTimeout(()=> {
              //this.setBodyBackground()
            },10)
            //console.log(response.data)
          })
      },
      checkIfMaster() {
        if(this.user_profile == null) {
          return false
        }
        // console.log(this.user_profile.is_master)
        return this.user_profile.is_master
      },
      setBodyBackground() {

      }
  }
})

setInterval(() => {
  player.getStatus()
}, 2000)

setInterval(()=> {
  player.getDevices()
}, 5000)

setInterval(()=> {
  player.getUserProfile()
}, 5000)
</script>